<div class="container mt-4">
    <div *ngIf="userInfo" class="row mt-2 d-flex">
        <div class="col-lg-3 offset-lg-2">
            <img class="rounded-circle" height="200" width="200" src="{{ profileImageURL }}">
        </div>
        <div class="mt-2 col-lg-4 offset-lg-1">
            <div class="mt-4">
                <div class="d-flex gap-4">
                    <div>
                        <div class="display-6 fw-bold">
                            {{ userInfo.username }}
                        </div>
                        <div class="mt-2 ml-2">
                            <span class="fullname">
                                {{ userInfo.fullName }}
                            </span>
                        </div>
                    </div>

                    <div *ngIf="isOtherUser(); else editbtn">
                        <div *ngIf=" doesFollows ; else followbtn ">
                            <button class="btn btn-secondary btn-large" (click)="unfollowUser()"> Unfollow </button>
                        </div>
                        <ng-template #followbtn>
                            <button class="btn btn-primary btn-large" (click)="followUser()"> Follow </button>
                        </ng-template>
                    </div>
                    <ng-template #editbtn>
                        <div>
                            <a [routerLink]="['/profile/edit']" class="btn btn-secondary">
                                <i class="fa fa-cog" aria-hidden="true">
                                    Edit Profile
                                </i>
                            </a>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="mt-3 row">
                <ul class="d-flex gap-4 list-unstyled">
                    <li><span class="fw-bold"> {{ postsCount }} </span> posts</li>
                    <li data-bs-toggle="modal" data-bs-target="#staticBackdropFollowers"><span class="fw-bold"> {{
                            followersCount }} </span> followers</li>
                    <li data-bs-toggle="modal" data-bs-target="#staticBackdropFollowees"><span class="fw-bold"> {{ followeesCount }} </span> following</li>
                </ul>
            </div>
            <div class="border-top">
                <p class="mt-2">
                    {{ userInfo.bio }}
                </p>
            </div>
        </div>
    </div>

    <!-- followers modal -->
    <div class="modal fade" id="staticBackdropFollowers" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-around">
                    <h3 class="modal-title fw-normal fs-4 mt-2" id="staticBackdropLabel"> Followers List </h3>
                    <button type="button" class="btn-close mt-2 mr-0" (click)="callfetchfollowees()" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div *ngFor="let follower of followersList">
                                <app-user-list [user]="follower" (followActivityEvent)="handleChild($event)" ></app-user-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- followee modal -->
    <div class="modal fade" id="staticBackdropFollowees" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-around">
                    <h3 class="modal-title fw-normal fs-4 mt-2" id="staticBackdropLabel"> Followees List </h3>
                    <button type="button" class="btn-close mt-2 mr-0" (click)="callfetchfollowees()" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div *ngFor="let follower of followeesList">
                                <app-user-list [user]="follower" (followActivityEvent)="handleChild($event)" ></app-user-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr style="border: 2px dotted black">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">
            <div *ngFor="let feedPost of postsOfUser">
                <app-profile-post [post]="feedPost" (deletePostEvent)="deltePostHandleFromChild($event)"></app-profile-post>
            </div>
        </div>
    </div>
</div>