<div class="mt-4">
    <div class="d-flex justify-content-around">
        <div class="d-flex gap-2">
            <div [routerLink]="['/profile',user.username]">
                <img class="rounded-circle profile-img" src="{{ profileImageURL }}"
                    height="50px" width="50px">
            </div>
            <div class="d-flex flex-column gap-1">
                <div  [routerLink]="['/profile',user.username]" class="fs-5"> {{ user.username }}</div>
                <div> {{ followersCount }} followers </div>
            </div>
        </div>
        <div>
            <div *ngIf="isOtherUser(); else editbtn">
                <div *ngIf=" doesFollows ; else followbtn ">
                    <button class="btn btn-secondary btn-large" (click)="unfollowUser()"> Unfollow </button>
                </div>
                <ng-template #followbtn>
                    <button class="btn btn-primary btn-large" (click)="followUser()"> Follow </button>
                </ng-template>
            </div>
            <ng-template #editbtn>
                <div>
                    <a [routerLink]="['/profile/edit']" class="btn btn-secondary">
                        <i class="fa fa-cog" aria-hidden="true">
                            Edit Profile
                        </i>
                    </a>
                </div>
            </ng-template>
        </div>
    </div>
</div>