<div class="container mt-2">
    <div class="row mt-2">
        <div class="mt-4 col-md-8 offset-md-2 col-lg-4 offset-lg-4 col-sm-8 offset-sm-2">
            <h3> Reset Password </h3>

            <form [formGroup]="pwdResetForm">

                <div class="mb-3">
                    <label for="username" class="fw-bold">User Name: </label>
                    <input type="text" class="form-control" name="username" id="username" formControlName="username"
                        placeholder="Enter your username">
                    <div id="usernameError" *ngIf="(username.touched || username.dirty) && username.errors">
                        <div [hidden]="!username.errors['required']" class="text-danger">
                            Please provide your username </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="emailId" class="fw-bold">Email Id: </label>
                    <input type="email" class="form-control" name="emailId" id="emailId" formControlName="emailId"
                        placeholder="Enter your email">
                    <div id="emailIdError" *ngIf="(emailId.touched || emailId.dirty) && emailId.errors">
                        <div [hidden]="!emailId.errors['required']" class="text-danger">
                            Pleae enter your regeistered email</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="fw-bold">Password: </label>
                    <input type="password" class="form-control" name="password" id="password" formControlName="password"
                        placeholder="Enter new password">
                    <div id="passwordError" *ngIf="(password.touched || password.dirty) && password.errors">
                        <div *ngIf="password.value!=null && password.errors['passwordInvalid']" class="text-danger">
                            Password must contain at least one lowercase, uppercase, digits, and special characters
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="confirmPassword" class="fw-bold">Confirm Password: </label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                        formControlName="confirmPassword" placeholder="Enter your password again">
                    <div id="confirmPasswordError" class="text-danger"
                        *ngIf="password.valid && confirmPassword.dirty && (password.value !== confirmPassword.value)">
                        New password and confirm password are not same
                    </div>
                </div>
                <button [disabled]="pwdResetForm.invalid || (password.value!==confirmPassword.value)"
                    class="btn btn-primary" (click)="submit()"> Reset Password </button>

            </form>
            <div *ngIf="errorMessage" class="fw-bold text-danger text-center">
                {{ errorMessage }}
            </div>
            <div *ngIf="successMessage" class="fw-bold text-success text-center">
                {{ successMessage }}
            </div>
            <br>
            <div class="text-center">
                <b> Already a user? </b>
                <a class="btn btn-link" [routerLink]="['/login']"> Log in </a>
            </div>
        </div>
    </div>
</div>